<!DOCTYPE html>
<html>
<head>
  <title>World Map</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  <div id="container">
    <div id="map"></div>
    <div id="sidebar">
      <div id="country-info">
        <h3>Country Info</h3>
        <div id="info-content">
          Click on a country to see information here.
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
